header {
    background: #eda2a2;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
}


.header-content {
    position: relative;
    z-index: 10; /* Ensures content is above the video */
    padding: 20px;
    text-align: center; /* Center the text and logo if desired */
    
}

.logo {
    width: 100px;
    margin-top: 20px;
}
 


nav ul {
    list-style: none;
    padding: 0;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    vertical-align: middle; 

}

.briefing{
    padding: 30px;
    background-color: whitesmoke;
    color: red;
    border-radius: 20px;
    text-decoration: solid;
    


}
.briefing .messsage{
    color: white;

}
h3{
    color: black;
    text-align: center;
    text-transform: capitalize;
    text-decoration: solid;
    padding: 20px;
    background-color: lightblue;
    border: #eda2a2;
    border-radius: 30px;
    box-shadow: #eda2a2;
    text-shadow: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.car-seller-container{
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border:5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: solid;
    
}