.product-wrapper{
	margin-left: 100px;
	margin-right: 100px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.section{ /* ----- */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.box{    /* --- */
	background-color: whitesmoke;
	margin: 20px;
}

.card{   /* -- */ 
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	padding: 3px;
}
.card img{
	height: 150px;
	width: 200px;
}
.description{ /* -- */ 
	text-align: center;
}
.button{  /* -- */
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	background-color: lightblue;
	border-top: none;
	padding: 4px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	align-items: center;
	transition: 0.5s;
}
.logo{  /* ---- */
	width: 200px;
}