body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 500px;
}


.header-content {
    position: relative;
    z-index: 10; /* Ensures content is above the video */
    padding: 20px;
    text-align: center; /* Center the text and logo if desired */
}

.logo {
    width: 100px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    vertical-align: middle; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.featured-cars {
    text-align: center;
    padding: 20px;
}

.featured-image {
    width: 30%;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}

nav ul li a.current {
    color: #4CAF50; /* Change the color to indicate the current page */
    font-weight: bold;
}

.search-form input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    outline: none;
    width: 150px; /* Adjust width as needed */
}

.search-form button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: -5px; /* Align button with input */
    background: #ddd;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.search-form button:hover {
    background-color: #ccc;
}

